.wrapper {
  width: 100%;
}

.headerTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
}

.subTitle {
  margin-top: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #424453;
}
